.text {
  text-align: center;
  font-size: 4rem;
  background-color: #64809f;
  color: rgb(215, 213, 213);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@media (max-width: 1400px) {
  .text {
    text-align: center;
    font-size: 3rem;
    background-color: #64809f;
    color: rgb(215, 213, 213);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
@media (max-width: 900px) {
  .text {
    text-align: center;
    font-size: 2rem;
    background-color: #64809f;
    color: rgb(215, 213, 213);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
@media (max-width: 600px) {
  .text {
    text-align: center;
    font-size: 1rem;
    background-color: #64809f;
    color: rgb(215, 213, 213);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
