.bar {
  background-color: #213354;
}
.logo {
  height: auto;
  width: 20%;
}
.logo_whole {
  text-decoration: none;
}
.logo_name {
  color: lightskyblue;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.reg_buttons {
  background-color: #64809f;
  transition: background-color 0.3s ease;
  height: 80%;
  width: 15%;
  border: 0px;
  border-radius: 0.8rem;
}
.reg_buttons:hover {
  background-color: #99acd5;
  transition: background-color 0.3s ease;
  height: 80%;
  width: 15%;
  border: 0px;
  border-radius: 0.8rem;
}
.logout_button {
  background-color: #64809f;
  transition: background-color 0.3s ease;
  height: 80%;
  width: 15%;
  border: 0px;
  border-radius: 0.8rem;
}
.logout_button:hover {
  background-color: #99acd5;
  transition: background-color 0.3s ease;
  height: 80%;
  width: 15%;
  border: 0px;
  border-radius: 0.8rem;
}
@media (max-width: 700px) {
  .reg_buttons {
    background-color: #64809f;
    transition: background-color 0.3s ease;
    height: 80%;
    width: 50%;
    border: 0px;
    border-radius: 0.8rem;
  }
}
